body {
  margin: 0;
  background: #000;
}

section {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.control {
  width: 100%;
  display: flex;
  justify-content: center;
  position: fixed;
  left: 0;
  bottom: 20px;
}

button {
  width: 100px;
  height: 40px;
  border-radius: 30px;
  border: 2px solid white;
  background: transparent;
  color: white;
}

.active {
  color: purple;
  border: 2px solid purple;
  box-shadow: 0 0 14px purple;
}

.box {
  max-width: 1000px;
  display: flex;
  justify-content: space-around;
}

.word {
  width: 100%;
  display: flex;
}

.letter {
  position: relative;
  width: 100px;
  height: 200px;
  margin: 0 5px;
}

.line {
  position: absolute;
  background: #1a1e24;
  box-shadow: 0 0 10px #1a1e24;
  border-radius: 10px;
  animation: neon 2s 1 forwards;
}

.ll {
  width: 10px;
  height: 100%;
  top: 0;
  left: 0;
  animation-delay: 2s;
}

.tl {
  width: calc(100% - 30px);
  height: 10px;
  left: 15px;
  top: 0;
  animation-delay: 1s;
}

.cl {
  width: calc(100% - 30px);
  height: 10px;
  left: 15px;
  top: calc(50% - 10px);
  animation-delay: 1.2s;
}

.rlp {
  width: 10px;
  height: 50%;
  right: 0;
  top: 0;
  animation-delay: 3s;
}

.lrftb {
  width: 120%;
  height: 10px;
  top: 74%;
  left: 0px;
  transform: rotate(50deg);
  animation-delay: 1.5s;
}

.rl {
  width: 10px;
  height: 100%;
  top: 0;
  right: 0;
  animation-delay: 3s;
}

.bl {
  width: calc(100% - 30px);
  height: 10px;
  left: 15px;
  bottom: 0;
  animation-delay: 1.9s;
}

.n .lrftb {
  top: 95px;
  left: -56px;
  width: 210%;
  transform: rotate(72deg);
  animation-delay: 1.4s;
}

.t .tl {
  width: 100%;
  left: 0;
  top: 0;
  animation-delay: 4.2s;
}

.vcl {
  width: 10px;
  height: calc(100% - 15px);
  top: 15px;
  left: calc(50% - 5px);
  animation-delay: 3.4s;
}

.llp {
  width: 10px;
  height: 50%;
  left: 0;
  bottom: 0;
  animation-delay: 4s;
}

.d .cl {
  top: 50%;
  animation-delay: 2s;
}

@keyframes neon {

  35%,
  37%,
  39%,
  41%,
  100% {
    background: #f1f4f5;
    box-shadow: 0 0 10px #f1f4f5;
  }

  0%,
  34%,
  36%,
  38%,
  40% {
    background: #1a1e24;
    box-shadow: 0 0 10px #1a1e24;
  }
}

@keyframes neonStop {

  35%,
  37%,
  39%,
  41%,
  100% {
    background: #1a1e24;
    box-shadow: 0 0 10px #1a1e24;
  }

  0%,
  34%,
  36%,
  38%,
  40% {
    background: #f1f4f5;
    box-shadow: 0 0 10px #f1f4f5;
  }
}

@media (max-width: 1090px) {
  .box {
    transform: scale(.5, .5);
  }
}

@media (max-width: 500px) {
  .box {
    flex-flow: column;
    transform: scale(.4, .4);
  }

  .word {
    justify-content: center;
  }
}